headerbar {
    min-height: 10px;
    padding: 0;
    margin: 0;
}

revealer.raised.bottom-bar {
    background-color: transparent;
    box-shadow: none;
}

revealer windowhandle {
    filter: none;
}

tabbar tabbox {
    margin: -4px -10px;
    padding: 0;
    min-height: 10px;
    background: transparent;
}

tabbar tabbox tab {
    margin: 0;
    padding: 0;
    background: transparent;
    border-radius: 0;
    transition-duration: 0s;
}

tabbar tabbox tab:selected {
    background: transparent;
    padding: 0;
}

tabbox tab button image {
    opacity: 0;
    min-width: 0;
}

tabbar tabbox tab label {
    font-size: 13px;
}

tabbar tabbox tab:selected label {
    font-weight: bold;
}
