layout {

    focus-ring {
        active-color   "#cbbeff"
        inactive-color "#131313"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#cbbeff"
        inactive-color "#131313"
        urgent-color   "#ffb4ab"
    }


    tab-indicator {
        active-color   "#cbbeff"
        inactive-color "#4a398c"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#cbbeff80"
    }
}

recent-windows {
    highlight {
        active-color "#cbbeff"
        urgent-color "#ffb4ab"
    }
}
