layout {

    focus-ring {
        active-color   "#cdbdff"
        inactive-color "#131313"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#cdbdff"
        inactive-color "#131313"
        urgent-color   "#ffb4ab"
    }


    tab-indicator {
        active-color   "#cdbdff"
        inactive-color "#4d388b"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#cdbdff80"
    }
}

recent-windows {
    highlight {
        active-color "#cdbdff"
        urgent-color "#ffb4ab"
    }
}
