layout {

    focus-ring {
        active-color   "#e7b4ff"
        inactive-color "#131313"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#e7b4ff"
        inactive-color "#131313"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#e7b4ff"
        inactive-color "#62317d"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#e7b4ff80"
    }
}

recent-windows {
    highlight {
        active-color "#e7b4ff"
        urgent-color "#ffb4ab"
    }
}
